@{
    ViewBag.Title = "ProductNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Product not found</h1>
<img src="https://i.ytimg.com/vi/LrQHgABDdlI/maxresdefault.jpg"/>
@Html.ActionLink("Go to home page", "Index", "Shop")